@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=REM:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  strong,
  em {
    font-style: normal;
  }

  mark {
    background-color: transparent;
  }

  ul,
  p {
    scrollbar-color: #ff859b #1c1b1e;
    scrollbar-width: normal;
  }

  ul:hover,
  p:hover {
    scrollbar-color: #ff859b #1c1b1e;
  }
}
